server:
  port: 8080

spring:
  application:
    name: sql-query-generator
  config:
    import: "optional:configserver:"

eureka:
  client:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: "*"